<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<script th:inline="javascript">
    function showThumb(src) {
        var img = document.createElement("img");
        var brk = document.createElement("BR");
        img.src = src;
        brk.id = "logBreak"
        document.getElementById("logLabel").appendChild(brk);
        brk.after(img);
    }

    var selectedId=/*[[${volumeId}]]*/;
<!--    alert("here's your selected book's ID: " + selectedId);-->

    var selectedURL="https://www.googleapis.com/books/v1/volumes/" + selectedId;
<!--    alert("here's your selected book's url: " + selectedURL);-->

    var xmlhttp = new XMLHttpRequest();
    var url = selectedURL;

    xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
<!--            alert("JSON is starting");-->
            var myArr = JSON.parse(this.responseText);
            myFunction(myArr);
        }
    };
    xmlhttp.open("GET", url, true);
    xmlhttp.send();

    function myFunction(arr) {
        var out = "";
<!--        out = "<br>Title: " + arr.volumeInfo.title + "<br>Author(s): " + arr.volumeInfo.authors +  "<br>Published: " + arr.volumeInfo.publishedDate +  "<br>Pages: " + arr.volumeInfo.pageCount + "<br><br>";-->
        out = "<div id=title>Title: " + arr.volumeInfo.title + "</div>" + "<div id=authors>Author(s): " + arr.volumeInfo.authors + "</div>" +  "<div id=published>Published: " + arr.volumeInfo.publishedDate + "</div>" + "<div id=pages>Pages: " + arr.volumeInfo.pageCount + "</div><br>";
<!--        document.getElementById("volumeGoogleId").value = selectedId;-->
        document.getElementById("id01").innerHTML = out;
        showThumb(arr.volumeInfo.imageLinks.thumbnail);
    }

    </script>

<body>

<div th:replace="fragments :: page-header"></div>

<div style="padding:20px"><p></p></div>

<div id="content"></div>

<!--TODO: emulate Jobs add.html-->
<h2>You've successfully reached the logs/add screen!</h2>
<h2>UNDER CONSTRUCTION</h2>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label id="logLabel"><b>Log Your Time in Minutes And/Or Pages Read for: </b><br></label>
    </div>

    <div id="id01"></div>

    <div class="form-group">
        <label>Log Date
        <input type="text" name="logDate" th:field="${log.date}">
        </label>
        <p class="error" th:errors="${log.date}"></p>
    </div>

    <div class="form-group">
        <label>Minutes Logged
            <th:block>
            <input type="text" name="minutesLogged" th:field="${log.minutesLogged}">
            <p class="error" th:errors="${log.minutesLogged}"></p>
            </th:block>
        </label>
    </div>

    <div class="form-group">
        <label>Pages Logged
        <th:block>
            <input type="text" name="pagesLogged" th:field="${log.pagesLogged}">
            <p class="error" th:errors="${log.pagesLogged}"></p>
        </th:block>
        </label>
        <br>
    </div>

<!--TODO: implement 'finished' value & logic-->
<!--    <div class="form-group">-->
<!--        <label>Finished?</label>-->
<!--        <th:block>-->
<!--            <input type="checkbox" name="boolFinished">-->
<!--        </th:block>-->
<!--        <br>-->
<!--    </div>-->

    <input type="submit" value="Create Log Entry"/>
</form>

</body>
</html>
