<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>*****BETA - Reading Log Display*****</title>
</head>
<body>

<!--TODO: emulate Jobs list.html and/or list-jobs.html-->
<!--TODO: add "log added!" as conditional/invisible div to show up if user came from processing the add form-->

<h1>You've successfully reached the logs/display screen!</h1>
<h2>UNDER CONSTRUCTION</h2>

<div class="container body-content">
    <h2>Reading Log</h2>
    <ul>
        <li th:each="log : ${logs}">
            <p th:text="${log.volumeGoogleId} + '  ' + ${log.volumeName} + '  ' + ${'ID: ' + log.id} + '  ' + ${'Date: ' + log.date} + '  ' + ${'Time: ' + log.minutesLogged} + '  ' + ${'Pages: ' + log.pagesLogged} "></p>
        </li>
    </ul>

</div>

</body>
</html>
